<div>
  <h3 class="register-heading">Spindle Speed Monitoring System</h3>
  <h4 class="dashboard-horizontal-heading">Machine Number</h4>
  <h4 class="dashboard-subheading">Spindle Number</h4>
  <table class="table table-striped" id="dashboard">
    <!--<thead>
      <tr>
        <td></td>
        <td *ngFor=" let key of spindleMasterAddressArr">
          {{key}}
        </td>
      </tr>
    </thead> -->
    <tbody>
      <!-- <tr *ngFor=" let res of spindles">
        <td *ngFor=" let key of keys">
          {{res[key]}}
        </td>
         Slip : {{res['slipCount']}} <br>
              Rogue : {{res['rogueCount']}}
      </tr> -->
      <ng-container  *ngFor=" let res of spindles" >
      <tr  >
         
         <!-- <td> {{res.spindleMaster}}  </td> --> 
         <ng-container *ngFor=" let res1 of res.spindleMasterDetailsSet"  >
          <td [ngStyle]="{'background-color': res1.spindleRPM>1000? 'green' : 'red'}">              
              Spindle No: {{res1['spindleNumber']}} <br>     
              RPM : {{res1['spindleRPM']}} <br>  
              Slip Count  : {{res1['slipCount']}}  
              Rogue Count : {{res1['rogueCount']}}         
          </td>         
       </ng-container>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
