<div>
  <h3 class="register-heading">Spindle Speed Monitoring System</h3>
  <h4 class="dashboard-horizontal-heading">Machine Number</h4>
  <h4 class="dashboard-subheading">Spindle Number</h4>
  <table class="table table-striped" id="dashboard">
    <thead>
      <tr>
        <td></td>
        <td *ngFor=" let key of spindles">
          {{key['slaveAddress']}}
        </td>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor=" let res of spindles">
        <td *ngFor=" let key of keys">
          {{res[key]}}
        </td>
      </tr> -->
      <tr>
          <td></td>
          <td *ngFor=" let res of spindles">
              RPM : {{res['spindleRPM']}} <br>
              Slip : {{res['slipCount']}} <br>
              Rogue : {{res['rogueCount']}}
          </td>
      </tr>
    </tbody>
  </table>
</div>
