<div>
    <h3 class="register-heading">Spindle Speed Monitoring System</h3>
    <h4 class="dashboard-horizontal-heading">Machine Number</h4>
    <h4 class="dashboard-subheading">Spindle Number</h4>
    <table class="table table-striped" id="dashboard">
        <thead>
        <tr>
          <th class="hidden"></th>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
          <th>6</th>
          <th>7</th>
        </tr>
        </thead>
        <tbody>
        <!-- <tr *ngFor="let spindle of spindles">
          <th>{{spindle.machineName}}</th>
          <td class="hidden">{{spindle.machineId}}</td>
          <td>{{spindle.machineName}}</td>
          <td>{{spindle.spindleName}}</td>
          <td>{{spindle.mean}}</td>
          <td>{{spindle.cvPercentage}}</td>
        </tr>
        </tbody> -->
        <tr>
          <th>1</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>2</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
</div>
