<div class="container register">
  <form>
    <div class="row">
      <div class="col-md-4 register-right">
        <h3 class="register-heading">1.Shift Details</h3>
        <div class="row register-form">
          <div class="col-sm-6">
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.shiftonestime" placeholder="Shift1-Start Time" name="shiftonestime" class="form-control"
                id="shiftonestime">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.shifttwostime" placeholder="Shift2-Start Time" name="shifttwostime" class="form-control"
                id="shifttwostime">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.shiftthreestime" placeholder="Shift3-Start time" name="shiftthreestime" class="form-control"
                id="shiftthreestime">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.generalshiftstime" placeholder="GShift-Start Time" name="generalshiftstime" class="form-control"
                id="generalshiftstime">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.shiftoneetime" placeholder="Shift1-End Time" name="shiftoneetime" class="form-control" id="shiftoneetime">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.shifttwoetime" placeholder="Shift2-End Time" name="shifttwoetime" class="form-control" id="shifttwoetime">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.shiftthreeetime" placeholder="Shift3-End Time" name="shiftthreeetime" class="form-control" id="shiftthreeetime">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.generalshiftetime" placeholder="GShift-End Time" name="generalshiftetime" class="form-control" id="generalshiftetime">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 register-right">
        <h3 class="register-heading">2.Machine Settings</h3>
        <div class="row register-form">
          <div class="col-sm-12">
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.frontRDia" placeholder="Front R. Dia" name="frontRDia" class="form-control" id="frontRDia">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.slipPercent" placeholder="Slip %" name="slipPercent" class="form-control" id="slipPercent">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.slipDuration" placeholder="Slip Duration" name="slipDuration" class="form-control" id="slipDuration">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.slipOccurance" placeholder="Slip occurance" name="slipOccurance" class="form-control" id="slipOccurance">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.batchProcess" placeholder="Batch process" name="batchProcess" class="form-control" id="batchProcess">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.idleTime" placeholder="Idle time" name="idleTime" class="form-control" id="idleTime">
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4 register-right">
        <h3 class="register-heading">3.Machine Details</h3>
        <div class="row register-form">
          <div class="col-sm-12">
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.numOfMachine" placeholder="No of Machine" name="numOfMachine" class="form-control" id="numOfMachine">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.deviceUUID" placeholder="Device UUID" name="deviceUUID" class="form-control" id="deviceUUID">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.totalNoOfSpindles" placeholder="Total No of spindls" name="totalNoOfSpindles" class="form-control"
                id="totalNoOfSpindles">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.masterAddress" placeholder="Master Address" name="masterAddress" class="form-control" id="masterAddress">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.spindlesPer" placeholder="Spindles per" name="spindlesPer" class="form-control" id="spindlesPer">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.splMaster" placeholder="Spl. Master" name="splMaster" class="form-control" id="splMaster">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.numOfSpdMasters" placeholder="No of Spd.Masters" name="numOfSpdMasters" class="form-control"
                id="numOfSpdMasters">
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btnRegister" (click)="saveSettingsMenu()">Submit</button>
        </div>
        <!-- <input type="submit" class="btnRegister" value="Register" /> -->
      </div>

    </div>
  </form>
</div>