<div class="container register">
  <form>
    <div class="row">
      <div class="col-md-4 register-right">
        <h3 class="register-heading">1.Shift Details</h3>
        <div class="row register-form">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="Shift1STime">Shift 1</label>
                </div>
                <div class="form-group">
                    <label for="Shift2STime">Shift 2</label>
                </div>
                <div class="form-group">
                    <label for="Shift3STime">Shift 3</label>
                </div>
                <div class="form-group">
                    <label for="gShiftSTime">G.Shift</label>
                </div>
              </div>
          <div class="col-sm-4">
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.Shift1STime" placeholder="S.Time" name="Shift1STime" class="form-control" id="Shift1STime">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.Shift2STime" placeholder="S.Time" name="Shift2STime" class="form-control" id="Shift2STime">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.Shift3STime" placeholder="S.Time" name="Shift3STime" class="form-control" id="Shift3STime">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.gShiftSTime" placeholder="S.Time" name="gShiftSTime" class="form-control" id="gShiftSTime">
            </div>
          </div>
          <div class="col-sm-5">
              <div class="form-group">
                <input [(ngModel)]="settingsMenu.Shift1ETime" placeholder="E.Time" name="Shift1ETime" class="form-control" id="Shift1ETime">
              </div>
              <div class="form-group">
                <input [(ngModel)]="settingsMenu.Shift2ETime" placeholder="E.Time" name="Shift2ETime" class="form-control" id="Shift2ETime">
              </div>
              <div class="form-group">
                <input [(ngModel)]="settingsMenu.Shift3ETime" placeholder="E.Time" name="Shift3ETime" class="form-control" id="Shift3ETime">
              </div>
              <div class="form-group">
                <input [(ngModel)]="settingsMenu.gShiftETime" placeholder="E.Time" name="gShiftETime" class="form-control" id="gShiftETime">
              </div>
            </div>
        </div>
      </div>
      <div class="col-md-4 register-right">
        <h3 class="register-heading">2.Machine Settings</h3>
        <div class="row register-form">
          <div class="col-sm-12">
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.frontRDia" placeholder="Front R. Dia" name="frontRDia" class="form-control" id="frontRDia">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.slipPercent" placeholder="Slip %" name="slipPercent" class="form-control" id="slipPercent">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.slipDuration" placeholder="Slip Duration" name="slipDuration" class="form-control" id="slipDuration">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.slipOccurance" placeholder="Slip occurance" name="slipOccurance" class="form-control" id="slipOccurance">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.batchProcess" placeholder="Batch process" name="batchProcess" class="form-control" id="batchProcess">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.idleTime" placeholder="Idle time" name="idleTime" class="form-control" id="idleTime">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 register-right">
        <h3 class="register-heading">3.Machine Details</h3>
        <div class="row register-form">
          <div class="col-sm-12">
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.numOfMachine" placeholder="No of Machine" name="numOfMachine" class="form-control" id="numOfMachine">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.deviceUUID" placeholder="Device UUID" name="deviceUUID" class="form-control" id="deviceUUID">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.totalNoOfSpindles" placeholder="Total No of spindls" name="totalNoOfSpindles" class="form-control"
                id="totalNoOfSpindles">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.masterAddress" placeholder="Master Address" name="masterAddress" class="form-control" id="masterAddress">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.spindlesPer" placeholder="Spindles per" name="spindlesPer" class="form-control" id="spindlesPer">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.splMaster" placeholder="Spl. Master" name="splMaster" class="form-control" id="splMaster">
            </div>
            <div class="form-group">
              <input [(ngModel)]="settingsMenu.numOfSpdMasters" placeholder="No of Spd.Masters" name="numOfSpdMasters" class="form-control"
                id="numOfSpdMasters">
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btnRegister" (click)="saveSettingsMenu()">Submit</button>
        </div>
        <!-- <input type="submit" class="btnRegister" value="Register" /> -->
      </div>

    </div>
  </form>
</div>